@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* --------- index.html --------- */

#preloader {
    background: #000 url(../src/preloader/ron_logo.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.home .cover {
    height: calc(80vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.home .logo-name {
    color: black;
    font-size: 40px;
    font-family: Cooper Black;
}

.home .logo-name span {
    color: 000055;
    font-size: 45px;
    padding: 0px;
    font-family: Arial Unicode MS;

}

.home button {
    background-color: #090752;
    margin-left: 10px;
    border-radius: 3px;
    padding: 10px;
    width: 90px;
    /* align-items: center; */


}

.home button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* .homecontainer
{
    position: relative;
    width:100%;
    max-width:400px;
}

.homecontainer img
{
    width:600px;
    height:400px;
} */

.home .homecontainer .register {
    position: absolute;
    top: 60%;
    height: 7%;
    margin-left: 50%;
    transform: translate(-100);
    background-color: #b62525;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    margin-left: 200px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px black;
    transition: 0.5s;
}

.home .logo {
    margin-left: 10px;
    margin-right: 3px;

}

.home .menu-bar {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0px;

}

.home .menu-bar span {
    /* text-align-last: left; */
    justify-content: space-between;
    padding: 0 5%;
}



.home .logo-name {
    color: black;
    font-size: 30px;
    font-family: Cooper Black;
}

.home .logo-name span {
    color: 000055;
    font-size: 16px;
    margin-top: 0px;
    padding: 0px;
    font-family: Arial Unicode MS;

}



.home .register a {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.home .menu-bar ul {
    list-style: none;
    display: flex;
}

.home .menu-bar ul li {
    padding: 10px 30px;
}

.home .menu-bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
    margin-right: 25px;
}

.home button {
    background-color: #090752;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    align-items: center;


}

.home button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.home .menu-bar ul li a:hover {
    color: rgb(61, 57, 57);
}



.home .main-scroll-div {
    background-color: rgb(217, 208, 208);
    /* border: 1px solid black */
    /* border-radius: 10px; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 25px rgb(134, 128, 128);
    transition: 0.4s;
}

.home .cover-scroll {
    /* position: relative; */
    width: 100%;
    height: 50%;
}


.home .scroll-images {

    display: flex;
    /* justify-content: left; */
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    width: fit-content;
    height: fit-content;

}

.home .child {
    /* min-width: 600px; */
    height: 150px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

.home .scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.home .child-img {
    padding: 10px;
    height: 150px;
    width: 150px;
}

.home .icon {

    /* padding-bottom: 15px; */
    width: 90px;
    align-items: center;
}



.home .arrow {
    padding: 5px;
    height: 80px;
    width: 80px;
    align-items: center;
}

/* footer-styles */
.home footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #111010);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    /* align-items: center; */
}

.home .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;


}

.home .col {
    flex-basis: 25%;
    padding: 10px;
}

.home .col:nth-child(2),
.home .col:nth-child(2) {
    flex-basis: 15%;
}

.logo-name2 {
    color: rgb(254, 252, 252);
    font-size: 30px;
    font-family: Cooper Black;
}

.home .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 25px;
}

.home .col p a {
    text-decoration: none;
    color: white;


}

.home .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.home hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.home .copyright {
    text-align: center;
}

.home .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.home .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* About Us Styles */
.home .hero {
    background-color: #f3e2ea;
}


.home .heading h1 {
    color: #571b37;
    font-size: 55px;
    text-align: center;
    align-items: center;
}

.home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.home .hero-content {
    flex: 1;
    width: 600px;
    /* margin:0px 25px; */
    animation: fadeInUp 2s ease;
    margin-top: 10px;

}

.home .hero-content h2 {
    font-family: Segoe UI Semibold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.home .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    padding-right: 30px;
    color: #666;

}

.home .hero-image {
    flex: 1;
    width: 600px;
    /* margin:auto;  */
    animation: fadeInRight 2s ease;
    margin-bottom: 30px;

}

.home .about {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .home .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .home .hero {
        margin: 0px;

    }

    .home .content {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .home .hero-content {
        width: 100%;
        margin: 35px 0px;
    }

    .home .hero-content h2 {
        font-size: 30px;
    }

    .home .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .home .hero-image {
        width: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* content styles */
.home .test {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    /* margin-top: 8%; */



}

.home .test .card {
    width: 308px;
    position: relative;
    height: 450px;
    background: #7a83ba;
    margin: 30px 10px;
    /* padding: 20px 15px; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 15px black; */
    transition: 0.3s ease-in-out;
    margin-top: 5%;

}

.home .test .card h2 {
    margin-top: 20px;
    color: white;
    font-family: Century Gothic;
    font-size: 30px;
}

.home .test .card p {
    margin-top: 20px;
    color: white;
    font-family: Segoe UI Semibold;
    margin-bottom: 18px;
}

.home .test .card .img-box {
    position: relative;
    width: 260px;
    height: 250px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgb(9, 9, 9);
}

.home .test .card .img-box img {
    max-width: 100%;
    /* border-radius: 10px; */
}




/* ----- password reset ----- */

.logincontainer {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../src/login/login.png') no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;

}

.wrapper {
    position: fixed;
    top: 25%;
    left: 37.5%;
    width: 25%;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 30px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper h1,
p {
    text-align: center;
    padding-bottom: 10px;
}

.from-box h2 {
    font-size: 2em;
    color: #f5f8fb;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 57px;

}

.input-box-select{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

.radio,
.checkbox{
    font-weight: 500;
    vertical-align: middle;
    color: #fff;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 5px;
}

.radio + .radio{
    margin-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"]{
    display: none;
}

.radio span,
.checkbox span{
    height: 20px;
    width: 20px;
    border: 3px solid #fff;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
}

.radio span{
    border-radius: 50%;
}

.radio span:after,
.checkbox span:after{
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.radio span:after{
    border-radius: 50%;
}

.radio input[type="radio"]:checked ~ span:after,
.checkbox input[type="checkbox"]:checked ~ span:after{

    transform: translate(-50%, -50%) scale(1);
} 

.remember-forget {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 700;

}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}

.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
}

.msg {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.msg pre {
    margin: 0;
    white-space: pre-line;
}

.msg h1 {
    margin: 0;
    color: navy;
    font-size: 42px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 75%;
    height: 100%;
}

.register-as {
    height: 50px;
    padding-top: 10px;
    font-size: 35px;
    color: white;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.member-manager {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.member,
.manager {
    margin: 30px;
}

.member button,
.manager button {
    width: 250px;
    height: 55px;
    background: white;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.member button:hover,
.manager button:hover {
    border: 3px solid navy;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.msg h1 pre span {
    background: purple;
    color: rgb(244, 242, 244);
    font-weight: bold;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../src/register/regas.jpg') no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* ----- Register Form ----- */

.registercontainer {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../src/register/regas_form.jpg') no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;

}

.registercontainer .input-box input::placeholder {
    color: #fff;
}

.registercontainer input[type=file]{
    display: none;
}

.registercontainer .input-pic label{
    display: block;
    position: relative;
    background-color: #b0adad;
    color: #000;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-left: 18px;
    padding-top: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
}

.home-icon{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
}