@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* --------- index.html --------- */

#preloader {
    background: #000 url(../src/preloader/ron_logo.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.home .cover {
    height: calc(80vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home header {
    position: relative;
    padding: 0 2rem;
}

.home .navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.home .navbar .links {
    display: flex;

}


.home .links li {
    list-style: none;
    gap: 26rem;
}


.home .navbar .links li a,
.home .navbar .links .nav-dropbtn {
    color: rgb(6, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    margin-right: 25px;
    text-underline-offset: 8px;
}

.home .navbar .links li a:hover {
    color: #080808ed;
    text-decoration: underline 5px #7a83baed;

}


.home .navbar .toggle_btn {
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.home .navbar .action_btn button {
    background-color: #090752;
    margin-right: 0px;
    border-radius: 13px;
    padding: 10px;
    width: 90px;
}


.home .navbar .action_btn button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.home .navbar .action_btn button:hover {
    transition: 0.5s;
    scale: 1.05;
}



.home .navbar .action_btn button:active {
    scale: 0.95;
}

/* nav-dropdown */

.nav-dropbtn {
    text-decoration: none;
    border: none;
    cursor: pointer;
}


.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-dropdown-content a:hover {
    background-color: #b1afaf;
}


/* toggle-button */



.home .dropdown_menu {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(12, 93, 223, 0);
    backdrop-filter: blur(45px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    align-items: center;
    justify-content: center;
    display: flex;
}

.home .dropdown_menu.open {
    height: 340px;
}

.home .dropdown_menu li,
.home .dropdown_menu .toggle-dropdown .toggle-dropbtn li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home .dropdown_menu li a,
.home .dropdown_menu .toggle-dropdown li a {
    text-decoration: none;
    font-weight: bold;
    color: #090752;
}

.home .dropdown_menu li a:hover {
    background-color: #adaaaa;
    text-decoration: none;
    color: rgb(6, 6, 6);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.home .dropdown_menu li a button {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #090752;
    border-radius: 13px;
    padding: 5px;
}



/* toggle-dropdown */

.toggle-dropbtn {
    text-decoration: none;
    border: none;
    cursor: pointer;
}


.toggle-dropdown {
    position: relative;
    display: block;
}

.toggle-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    margin-left: 30px;
}

.toggle-dropdown:hover .toggle-dropdown-content {
    display: block;
}

.toggle-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.toggle-dropdown-content a:hover {
    background-color: #b1afaf;
}



@media(max-width:992px) {

    .home .navbar .links,
    .home .navbar .action_btn {
        display: none;
    }

    .home .navbar .toggle_btn {
        display: block;
    }

    .home .dropdown_menu {
        display: block;

    }
}

@media (max-width:576px) {
    .home .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/* register_btn-upimg */
.upimg {
    width: 100%;
    border: 5px solid #fff;
    margin-bottom: 200px;
}

.upimg-1 {
    width: 100%;
}

.upimg-1 img {
    width: 100%;
}

.upimg-2 {
    margin-top: -10%;
    margin-left: 10%;
}

.upimg-2 a {

    color: white;
    text-decoration: none;

    background-color: #ce5a98;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px black;
    transition: 0.5s;
}

.upimg-2 a:hover {
    color: #fff;
    background-color: #a30c5d;
}

@media only screen and (max-width:768px) {
    .upimg {
        width: 100vh;
        margin-bottom: 100px;

    }

    .upimg-2 a {
        padding: 5px;
    }

    .test {
        width: 100vh;
    }
}

/* scrollbar-styles */


.home .main-scroll-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    height: fit-content;
    width: fit-content;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px rgb(187, 179, 179);
}

.home .main-scroll-div .slider {
    scroll-behavior: smooth;
    display: flex;
    background: rgb(217, 208, 208);
    padding: 20px;
    width: 800px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;


}

.home .main-scroll-div .slider img {
    margin: 3px;
}

.home .main-scroll-div .control {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(217, 208, 208);
    cursor: pointer;
    object-fit: cover;
    padding: 10px;
}

.home .main-scroll-div .prev {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home .main-scroll-div .next {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.home .child-img {
    padding: 10px;
    height: 150px;
    width: 150px;
}


@media(max-width:992px) {
    .home .main-scroll-div {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }

}

/* content styles */
.home .test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.home .test .card {
    width: 408px;
    position: relative;
    height: 550px;
    background: #7a83ba;
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    margin-top: 50px;

}

.home .test .card h2 {
    margin-top: 20px;
    color: #41445e;
    font-family: Century Gothic;
    font-size: 30px;
    text-shadow: 0px 0px 6px #fcf9f9;
}

.home .test .card p {
    margin-top: 11px;
    color: white;
    font-family: Segoe UI Semibold;
    margin-bottom: 24px;
    font-size: 20px;
}

.home .test .card .img-box {
    position: relative;
    width: 280px;
    height: 270px;
    top: -60px;
    left: 63px;
    right: 63px;
    box-shadow: 0 5px 20px rgb(9, 9, 9);
}

.home .test .card .img-box img {
    max-width: 100%;
}


/* About Us Styles */
.home .hero {
    background-color: #f3e2ea;
}

.home .heading {
    padding-top: 30px;
}

.home .heading h1 {
    color: #571b37;
    font-size: 55px;
    text-align: center;
    align-items: center;
}

.home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.home .hero-content {
    flex: 1;
    width: 600px;
    /* margin:0px 25px; */
    animation: fadeInUp 2s ease;
    margin-top: 10px;

}

.home .hero-content h2 {
    font-family: Segoe UI Semibold;
    font-size: 30px;
    margin-bottom: 25px;
    color: #333;
}

.home .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    padding-right: 30px;
    color: #666;
    text-align: justify;

}

.home .hero-image {
    flex: 1;
    width: 600px;
    animation: fadeInRight 2s ease;
    margin-bottom: 30px;

}

.home .about {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}




/* Contact Us - styles */

.home .ContactUs-background {
    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home .contactUS {
    width: 80%;
    background: rgb(217, 208, 208);
    border-radius: 18px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    margin-bottom: 0px;
}

.home .contactUS .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.home .contactUS .content .leftside {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.home .content .leftside::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(246, 245, 243);
}

.home .content .leftside .details {
    margin: 14px;
    text-align: center;
}

.home .contactUS .content .leftside .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.home .content .leftside .details .text-one,
.home .content .leftside .details .text-two,
.home .content .leftside .details .text-three {
    font-size: 14px;
    color: #808083;
}


.home .contactUS .content .rightside {
    width: 75%;
    margin-left: 75px;
}

.home .content .rightside .topic-text {
    font-size: 33px;
    font-weight: 600;
    color: #021371;
}

.home .content .rightside p {
    font-size: 17px;
    text-align: left;
}

.home .rightside .input-box {

    height: 50px;
    width: 100%;
    margin: 12px 0;

}

.home .rightside .input-box input {

    color: rgb(15, 15, 15);

}


.home .rightside .input-box input,
.home .rightside .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
}


.home .rightside .message-box {
    min-height: 110px;
}

.home .rightside .button {
    display: inline-block;
    margin-top: 12px;
}

.home .rightside .button input[type="button"] {
    color: #fbf7f7;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #021371;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home .button input[type="button"]:hover {
    background: #00093c;
    scale: 1.05;

}




/* footer-styles */
.home footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #111010);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
}

.home .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.home .col {
    width: fit-content;
    padding: 10px;
}

.home .ronCol {
    width: 400px;
    text-align: justify;
}

.home .ronCol p {
    text-align: justify;
}


.logo-name2 {
    color: rgb(254, 252, 252);
    font-size: 30px;
    font-family: Cooper Black;
}

.home .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 25px;
}

.home .col p {
    text-align: justify;
}


.home .col p a {
    text-decoration: none;
    color: white;
    text-align: justify;


}

.home .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.home hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.home .copyright {
    text-align: center;
}

.home .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.home .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}