@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
} 

/* --------- index.html --------- */

#preloader {
    background: #000 url(../src/preloader/ron_logo.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.home .cover {
    height: calc(80vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home header
{
    position: relative;
    padding: 0 2rem;
}

.home .navbar
{
    width:100%;
    height:80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.home .navbar .logo-name {
    margin-top: 5px;
    color: black;
    font-size: 24px;
    font-family: Cooper Black;
}

.home .navbar .logo-name span {
    color: 000055;
    font-size: 18px;
    padding: 0px;
    font-family: Arial Unicode MS;

}

.home .navbar .links
{
    display: flex;
   
}


.home .links li
{
    list-style: none;
    gap:26rem;
}


.home .navbar .links li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    margin-right: 25px;
    text-underline-offset: 8px;
}

.home .navbar .links li a:hover {
    color:#080808ed;
    text-decoration: underline 5px #7a83baed;
   
}


.home .navbar .toggle_btn
{
    color:aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.home .navbar .action_btn button 
{
    background-color: #090752;
    margin-right: 0px;
    border-radius: 13px;
    padding: 10px;
    width: 90px;
}


.home .navbar .action_btn button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.home .navbar .action_btn button:hover{
    transition: 0.5s;
    scale:1.05;
}



.home .navbar .action_btn button:active
{
    scale:0.95;
}


.home .dropdown_menu
{
    position: absolute;
    display: none;
    right:2rem;
    top:60px;
    height: 0;
    width:300px;
    background:rgba(12, 93, 223, 0);
    backdrop-filter: blur(45px); 
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home .dropdown_menu.open
{
    height:340px;
}

.home .dropdown_menu li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home .dropdown_menu li a
{
    text-decoration: none;
    font-weight: bold;
    color: #090752;
}

.home .dropdown_menu li a:hover
{
    background-color: #979696;
    text-decoration: none;
    color: white;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.home .dropdown_menu li a button
{
    width:100%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #090752;
    border-radius: 13px;
    padding: 5px;
}

@media(max-width:992px)
{
    .home .navbar .links,
    .home .navbar .action_btn
    {
        display: none;
    }

    .home .navbar .toggle_btn
    {
        display: block;
    }

    .home .dropdown_menu
    {
        display: block;

    }
}

@media (max-width:576px)
{
    .home .dropdown_menu
    {
        left:2rem;
        width:unset;
    }
}

.home .homecontainer .register {
    position: static;
    top:60%;
    margin-left:50%;
    margin-top: -200px;
    margin-bottom: 130px;
    transform: translate(-100);
    background-color: #b62525;
    border-radius: 20px;
    padding:20px;
    width:250px;
    margin-left: 200px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px black;
    transition: 0.5s;
}

.home .homecontainer .register:hover {
    background-color:#661717;
    transition: 0.7s;
    box-shadow: none;
}

.home .register a {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}




/* @media(max-width:992px)
{
    .home .homecontainer .register 
    {
        margin-left:50%;
        margin-top: -100px;
        
        transform: translate(-100);
        padding:20px;
        width:250px;
        margin-left: 200px;
    }

}

@media (max-width:576px)
{
    .home .homecontainer .register 
    {
        display: none;
    }
} */



/* scrollbar-styles */


.home .main-scroll-div {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-bottom: 50px;
    height:fit-content;
    width:fit-content;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px rgb(187, 179, 179);
}

.home .main-scroll-div .slider
{
    scroll-behavior: smooth;
    display: flex;
    background: rgb(217, 208, 208);
    padding: 20px;
    width:800px;
    height:200px;
    overflow: hidden;
    display:
        
}

.home .main-scroll-div .slider img
{
    margin: 3px;
}

.home .main-scroll-div .control
{
    position: absolute;
    width:50px;
    height:50px;
    border-radius: 50%;
    background: rgb(217, 208, 208);
    cursor: pointer;
    object-fit:cover;
    padding:10px;
}

.home .main-scroll-div .prev
{
    left:0;
    top:50%;
    transform: translate(-50%,-50%);
}

.home .main-scroll-div .next
{
    right:0;
    top:50%;
    transform: translate(50%,-50%);
}

.home .child-img
{
    padding:10px;
    height: 150px;
    width:150px;
} 

@media(max-width:992px)
{
    .home .main-scroll-div
    {
        width:90%;
        padding:30px 35px 40px 35px;
   }

}

@media(max-width:820px)
{
    .home .main-scroll-div
    {
        height: 100%;
        flex-direction: column;
   }

}


/* Contact Us - styles */

.home .ContactUs-background
        {
            min-width: 100vh;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .home .contactUS
        {
            width:80%;
            background: rgb(217, 208, 208);
            border-radius:18px;
            padding:20px 20px 20px 20px;
            box-shadow: 0 0px 50px rgba(0,0,0,0.2);
            margin-top: 0px;
            margin-bottom: 0px;
        }

.home .contactUS .content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.home .contactUS .content .leftside
{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.home .content .leftside::before
{
    content:'';
    position: absolute;
    height:80%;
    width:2px;
    right:-15px;
    top:50%;
    transform: translateY(-50%);
    background: rgb(246, 245, 243);
}

.home .content .leftside .details
{
    margin:14px;
    text-align: center;
}

.home .contactUS .content .leftside .details .topic
{
   font-size:18px;
   font-weight: 500;
}

.home .content .leftside .details .text-one,
.home .content .leftside .details .text-two,
.home .content .leftside .details .text-three
{
    font-size:14px;
    color:#808083;
}


.home .contactUS .content .rightside
{
    width:75%;
    margin-left: 75px;
}

.home .content .rightside .topic-text
{
    font-size: 33px;
    font-weight: 600;
    color:#021371;
}

.home .content .rightside p
{
    font-size: 17px;
    text-align: left;
}

.home .rightside .input-box
{
    
        height:50px;
        width:100%;
        margin:12px 0;
    
}

.home .rightside .input-box input
{
    
    color:rgb(15, 15, 15);
    
}


.home .rightside .input-box input,
.home .rightside .input-box textarea
{
    height: 100%;
    width:100%;
    border:none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding:0 15px;
}


.home .rightside .message-box
{
    min-height: 110px;
}

.home .rightside .button
{
    display:inline-block;
    margin-top: 12px;
}

.home .rightside .button input[type="button"]
{
    color:#fbf7f7;
    font-size: 18px;
    outline: none;
    border:none;
    padding:8px 16px;
    border-radius: 6px;
    background: #021371;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home .button input[type="button"]:hover
{
    background: #00093c;
    scale:1.05;
    
}

@media(max-width:950px)
{
    .home .container
    {
        width:90%;
        padding:30px 35px 40px 35px;
   }
}

@media(max-width:820px)
{
    .home .container
    {
        margin:40px 0;
        height:100%;
   }

   .home .container .content
   {
        flex-direction: column-reverse;
   }

   .home .container .content .leftside
   {
        width:100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
   }

   .home .contactUS .content .leftside::before
   {
        display:none;

   }

   .home .contactUS .content .rightside
   {
        width:100%;
        margin-left: 0;
        
   }
}

/* footer-styles */
.home footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #111010);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
    /* align-items: center; */
}

.home .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* text-align: justify; */


}

.home .col {
    /* flex-basis: 25%; */
    width:fit-content;
    padding: 10px;
    /* text-align: justify; */
}

.home .ronCol
{
    width: 400px;
    text-align: justify;
}

.home .ronCol p
{
    /* width: 400px; */
    text-align: justify;
}


.logo-name2 {
    color: rgb(254, 252, 252);
    font-size: 30px;
    font-family: Cooper Black;
}

.home .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 25px;
}

.home .col p {
    text-align: justify;
}


.home .col p a {
    text-decoration: none;
    color: white;
    text-align: justify;


}

.home .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.home hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.home .copyright {
    text-align: center;
}

.home .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.home .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* About Us Styles */
.home .hero {
    background-color: #f3e2ea;
}

.home .heading{
    padding-top: 30px;
}

.home .heading h1 {
    color: #571b37;
    font-size: 55px;
    text-align: center;
    align-items: center;
}

.home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.home .hero-content {
    flex: 1;
    width: 600px;
    /* margin:0px 25px; */
    animation: fadeInUp 2s ease;
    margin-top: 10px;

}

.home .hero-content h2 {
    font-family: Segoe UI Semibold;
    font-size: 30px;
    margin-bottom: 25px;
    color: #333;
}

.home .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    padding-right: 30px;
    color: #666;
    text-align: justify;

}

.home .hero-image {
    flex: 1;
    width: 600px;
    /* margin:auto;  */
    animation: fadeInRight 2s ease;
    margin-bottom: 30px;

}

.home .about {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .home .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .home .hero {
        margin: 0px;

    }

    .home .content {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .home .hero-content {
        width: 100%;
        margin: 35px 0px;
    }

    .home .hero-content h2 {
        font-size: 30px;
    }

    .home .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .home .hero-image {
        width: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* content styles */
.home .test {
    position: relative;
    /* width: 1100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    /* margin-top: 8%; */



}

.home .test .card {
    width: 408px;
    position: relative;
    height: 550px;
    background: #7a83ba;
    margin: 30px 20px;
    /* padding: 20px 15px; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 15px black; */
    transition: 0.3s ease-in-out;
    margin-top: 50px;

}

.home .test .card h2 {
    margin-top: 20px;
    color: #41445e;
    font-family: Century Gothic;
    font-size: 30px;
    text-shadow:0px 0px 6px #fcf9f9;
}

.home .test .card p {
    margin-top: 11px;
    color: white;
    font-family: Segoe UI Semibold;
    margin-bottom: 24px;
    font-size: 20px;
}

.home .test .card .img-box {
    position: relative;
    width: 280px;
    height: 270px;
    top: -60px;
    left: 63px;
    right:63px;
    box-shadow: 0 5px 20px rgb(9, 9, 9);
}

.home .test .card .img-box img {
    max-width: 100%;
    /* border-radius: 10px; */
}




/* ----- password reset ----- */

.logincontainer{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../src/login/login.png') no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: fixed;
    top: 25%;
    left: 37.5%;
    width: 25%;
    background: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    border-radius: 20px;
    justify-content: center;
    align-items:center ;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper h1, p{
    text-align: center;
    padding-bottom: 10px;
}

.from-box h2{
    font-size: 2em;
    color: #f5f8fb;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;

}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

.input-box input{
    width:100% ;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 57px;

}

.remember-forget{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0  15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 700;

}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover{
    text-decoration: underline;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}

.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
}


/* ----- Register Form ----- */

.msg {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.msg pre {
    margin: 0;
    white-space: pre-line;
}

.msg h1 {
    margin: 0;
    color: navy;
    font-size: 42px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 75%;
    height: 100%;
}

.register-as {
    height: 50px;
    padding-top: 10px;
    font-size: 35px;
    color: white;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.member-manager {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.member,
.manager {
    margin: 30px;
}

.member button,
.manager button {
    width: 250px;
    height: 55px;
    background: white;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.member button:hover,
.manager button:hover {
    border: 3px solid navy;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.msg h1 pre span {
    background: purple;
    color: rgb(244, 242, 244);
    font-weight: bold;
}

.userreg,
.managerreg {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 1;
    width: 30%;
    z-index: 1;
    height: 70%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;

    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 30ms ease-in-out 0ms;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.userreg::-webkit-scrollbar,
.managerreg::-webkit-scrollbar {
    display: none;
    /*Chrome , Opera and Safari */
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../src/register/regas.jpg') no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}

.background#blur.active {
    filter: blur(20px);
    /* pointer-events: none;
    user-select: none; */
}

.userreg .form,
.managerreg .form {
    width: 95%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #fff;
    padding: 30px 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userreg label,
.managerreg label {
    font-weight: 600;
}

.userreg .normal,
.managerreg .normal{
    font-weight: 400;
    font-size: 100%;
}


.userreg input[type=email],
.userreg input[type=text],
.userreg input[type=password],
.userreg input[type=number],
.userreg input[type=file],
.managerreg input[type=email],
.managerreg input[type=text],
.managerreg input[type=password],
.managerreg input[type=number],
.managerreg input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.userreg input[type=text]:focus,
.userreg input[type=password]:focus,
.userreg input[type=email]:focus,
.userreg input[type=number]:focus,
.userreg input[type=file]:focus,
.managerreg input[type=text]:focus,
.managerreg input[type=password]:focus,
.managerreg input[type=email]:focus,
.managerreg input[type=number]:focus,
.managerreg input[type=file]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
.userreg hr,
.managerreg hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.userreg .registerbtn,
.managerreg .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.userreg .registerbtn:hover,
.managerreg .registerbtn:hover {
    opacity: 1;
}

.userreg h1,
.userreg p,
.managerreg h1,
.managerreg p {
    text-align: center;
}

.userreg a,
.managerreg a {
    color: dodgerblue;
}

.userreg .signin,
.managerreg .signin {
    background-color: #f1f1f1;
    text-align: center;
}

.userreg .alert,
.managerreg .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.userreg .alert.danger,
.managerreg .alert.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}