* {
    margin: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: white;
}

#preloader {
    background: #000 url(../ron_logo.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.home .cover {
    height: calc(80vh - 80px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.home .logo-name {
    color: black;
    font-size: 40px;
    font-family: Cooper Black;
}

.home .logo-name span {
    color: 000055;
    font-size: 45px;
    padding: 0px;
    font-family: Arial Unicode MS;

}



.home button {
    background-color: #090752;
    margin-left: 10px;
    border-radius: 3px;
    padding: 10px;
    width: 90px;
    /* align-items: center; */


}

.home button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* .homecontainer
{
    position: relative;
    width:100%;
    max-width:400px;
}

.homecontainer img
{
    width:600px;
    height:400px;
} */

.home .homecontainer .register {
    position: absolute;
    top: 60%;
    margin-left: 50%;
    transform: translate(-100);
    background-color: #b62525;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    margin-left: 200px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 35px black;
    transition: 0.5s;
}

.home .logo {
    margin-left: 10px;
    margin-right: 3px;

}

.home .menu-bar {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0px;

}

.home .menu-bar span {
    /* text-align-last: left; */
    justify-content: space-between;
    padding: 0 5%;
}



.home .logo-name {
    color: black;
    font-size: 30px;
    font-family: Cooper Black;
}

.home .logo-name span {
    color: 000055;
    font-size: 16px;
    margin-top: 0px;
    padding: 0px;
    font-family: Arial Unicode MS;

}



.home .register a {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.home .menu-bar ul {
    list-style: none;
    display: flex;
}

.home .menu-bar ul li {
    padding: 10px 30px;
}

.home .menu-bar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
    margin-right: 25px;
}

.home button {
    background-color: #090752;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    align-items: center;


}

.home button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.home .menu-bar ul li a:hover {
    color: rgb(61, 57, 57);
}



.home .main-scroll-div {
    background-color: rgb(217, 208, 208);
    /* border: 1px solid black */
    /* border-radius: 10px; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 25px rgb(134, 128, 128);
    transition: 0.4s;
}

.home .cover-scroll {
    /* position: relative; */
    width: 100%;
    height: 50%;
}


.home .scroll-images {

    display: flex;
    /* justify-content: left; */
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    width: fit-content;
    height: fit-content;

}

.home .child {
    /* min-width: 600px; */
    height: 150px;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

.home .scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.home .child-img {
    padding: 10px;
    height: 150px;
    width: 150px;
}

.home .icon {

    /* padding-bottom: 15px; */
    width: 90px;
    align-items: center;
}



.home .arrow {
    padding: 5px;
    height: 80px;
    width: 80px;
    align-items: center;
}

/* footer-styles */
.home footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #111010);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    /* align-items: center; */
}

.home .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;


}

.home .col {
    flex-basis: 25%;
    padding: 10px;
}

.home .col:nth-child(2),
.home .col:nth-child(2) {
    flex-basis: 15%;
}

.logo-name2 {
    color: rgb(254, 252, 252);
    font-size: 30px;
    font-family: Cooper Black;
}

.home .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 25px;
}

.home .col p a {
    text-decoration: none;
    color: white;


}

.home .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.home hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.home .copyright {
    text-align: center;
}

.home .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.home .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

/* About Us Styles */
.home .hero {
    background-color: #f3e2ea;
}


.home .heading h1 {
    color: #571b37;
    font-size: 55px;
    text-align: center;
    align-items: center;
}

.home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.home .hero-content {
    flex: 1;
    width: 600px;
    /* margin:0px 25px; */
    animation: fadeInUp 2s ease;
    margin-top: 10px;

}

.home .hero-content h2 {
    font-family: Segoe UI Semibold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.home .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    padding-right: 30px;
    color: #666;

}

.home .hero-image {
    flex: 1;
    width: 600px;
    /* margin:auto;  */
    animation: fadeInRight 2s ease;
    margin-bottom: 30px;

}

.home .about {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .home .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }

    .home .hero {
        margin: 0px;

    }

    .home .content {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .home .hero-content {
        width: 100%;
        margin: 35px 0px;
    }

    .home .hero-content h2 {
        font-size: 30px;
    }

    .home .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .home .hero-image {
        width: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* content styles */
.home .test {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    /* margin-top: 8%; */



}

.home .test .card {
    width: 308px;
    position: relative;
    height: 450px;
    background: #7a83ba;
    margin: 30px 10px;
    /* padding: 20px 15px; */
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 15px black; */
    transition: 0.3s ease-in-out;
    margin-top: 5%;

}

.home .test .card h2 {
    margin-top: 20px;
    color: white;
    font-family: Century Gothic;
    font-size: 30px;
}

.home .test .card p {
    margin-top: 20px;
    color: white;
    font-family: Segoe UI Semibold;
    margin-bottom: 18px;
}

.home .test .card .img-box {
    position: relative;
    width: 260px;
    height: 250px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgb(9, 9, 9);
}

.home .test .card .img-box img {
    max-width: 100%;
    /* border-radius: 10px; */
}